@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fsvblink {
    0% {
        opacity: 1;
    }

    48% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fsv-animate-blink {
    animation: fsvblink 1s linear infinite;
}

::-webkit-scrollbar {
    width: 0.2rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #1F2229;
}

::-webkit-scrollbar-thumb:hover {
    background: #1F2229;
}
